.main {
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: var(--grey-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  width: 50%;
}

.container-length {
  display: flex;
  flex-direction: column;
}

.container-checkbox {
  display: flex;
  gap: 1rem;
  font-size: 1.3rem;
  padding-bottom: 1rem;
}

.container-strength {
  background-color: var(--dark-color);
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
}

.container-difficulty {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.container-heart {
  display: flex;
}

.container-password {
  width: 50%;
  background-color: var(--grey-color);
  margin-top: 1rem;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.btn {
  border: none;
  background-color: var(--second-color);
  color: var(--light-color);
  display: inline-block;
  width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

.btn:disabled {
  background-color: var(--light-grey-color);
}

.error-length {
  color: var(--game-color);
}

.main-h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
